.content {
  position: relative;
  color: rgb(28, 28, 35);
  padding: 15px;
  margin-top: 280px;
}

.btn {
  background-color: rgb(48, 241, 183);
  color: white;
  font-weight: 600;
}

h1 {
  color: rgb(28, 28, 35);
  font-weight: 700;
  font-size: 32px;
}
