@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.header-transparent {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
  .nav-link {
    color: rgb(28, 28, 35);
  }
}

.header-opaque {
  background-color: rgb(28, 28, 35) !important;
  transition: background-color 0.3s ease;
  .nav-link {
    color: white;
  }
}

.logonavbar {
  color: rgb(48, 241, 183);
}

.bi {
  color: white;
}

.header {
  background-color: rgb(28, 28, 35);
}

.navbar-toggler {
  border: none;
}

.nav-item {
  font-size: 14px;
  font-weight: 500;
}
