.content {
  margin-top: 280px;
  padding: 15px;
}
h1 {
  color: rgb(28, 28, 35);
  font-weight: 700;
  font-size: 32px;
}

h3 {
  color: rgb(28, 28, 35);
  font-weight: 700;
}

.card-title {
  color: black;
}

.btn {
  background-color: rgb(48, 241, 183);
  font-weight: 600;
  color: white;
}

.form-group label {
  color: rgb(28, 28, 35);
}
